[submodule "leavemanagerapp"]
	path = leavemanagerapp
	url = https://github.com/RahulAwasthi314/leavemanagerapp
[submodule "meal-planner-svelte"]
	path = meal-planner-svelte
	url = https://github.com/RahulAwasthi314/meal-planner-svelte.git
[submodule "stencil-component-lib"]
	path = stencil-component-lib
	url = https://github.com/RahulAwasthi314/stencil-component-lib.git
